pandas==2.1.4
fastapi==0.109.0
pydantic==2.5.3
pydantic_core==2.14.6
sqlalchemy 
werkzeug
streamlit
fastapi
pytest
uvicorn
httpx
pytest-asyncio
async-asgi-testclient 
factory_boy
streamlit-option-menu
matplotlib